
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    
    font-family: 'Poppins', sans-serif;
}
%header{
    color: $color-primary;
    text-align: center;
    margin: 4rem;
    position: relative;
    font-size: 4rem;
    
    padding-bottom: 1rem;
    &::after{
        position: absolute;
        transform: translateX(-100%);
        bottom: 0;
        content: "";
        height: 2px;
        background-color: $color-primary;
    }
    
}
.clearfix{
    clear: both;
}